
{% extends "layout.html" %}


{% block title %}About us{% endblock %}


{% block content %}
	<section class="about" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <h2 class="sub-title">About</h2>
                    <hr>
                </div>
            <div class="row">
                <div class="col-6">
                	pass
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}


